{% extends 'base.html' %}

{% block content %}
<!-- start reading intro -->
<br><br>

<div class="container">
    {% for tag in tags %}
    <div class="bg-light mt-3 p-3"> 
        <a href="{% url 'show-tag' tag.id %}"><h2 class="head"> {{ tag.name }}</h2></a>
        {% if user.is_superuser %}
        <a href="{% url 'delete-tag' tag.id %}" class="btn btn-red">Delete</a>
        <a href="{% url 'update-tag' tag.id %}" class="btn btn-secondary">Edit</a>
        {% endif %}
    </div>
    {% endfor %}
</div>

<br><br>

<div class = "container bg-light" style="color:black">
    {% if tags.has_previous %}
    <a href="?page=1">&laquo First</a>
    <a href="?page={{ tags.previous_page_number }}">&laquo Previous</a>
    {% endif %}

    Page {{ tags.number }} of {{ tags.paginator.num_pages }}

    {% if tags.has_next %}
    <a href="?page={{ tags.next_page_number }}">Next</a>
    <a href="?page={{ tags.next_page_number }}">Last &raquo</a>
    {% endif %}
</div>

{% endblock %}