{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- start reading intro -->
<div class="container my-5">
    {% for story in stories %}
    <a href="{% url 'show-story' story.id %}"><div class="read-intro bg-light mt-3">
        <div class="row">
            <div class="cover col-*">
                {% if story.story_image %}
                <img class="shadow" src="{{ story.story_image.url }}" alt="" class="img-fluid" style="width: 300px; height:300px">
                {% else %}
                <img class="shadow" src="{% static 'img/jiro.png' %}" alt="" class="img-fluid" style="width: 300px; height:300px">
                {% endif %}
            </div>
            <div class="info col">
                <h2 class="head"> {{ story.name }} </h2>
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <th scope="row">Genre:</th>
                            <td>{{ story.tag }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Artist:</th>
                            <td> {{ story.author }} </td>
                        </tr>
                        <tr>
                            <th scope="row">Update:</th>
                            <td> {{ story.created_at }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Update:</th>
                            <td> {{ story.total_likes }}</td>
                        </tr>
                    </tbody>
                </table>
                <p>{{ story.description }}</p>
            </div>
        </div>
    </div></a> 
    {% endfor %}
</div>

<div class = "container bg-light" style="color:black">
    {% if stories.has_previous %}
    <a href="?page=1">&laquo First</a>
    <a href="?page={{ stories.previous_page_number }}">&laquo Previous</a>
    {% endif %}

    Page {{ stories.number }} of {{ stories.paginator.num_pages }}

    {% if stories.has_next %}
    <a href="?page={{ stories.next_page_number }}">Next</a>
    <a href="?page={{ stories.next_page_number }}">Last &raquo</a>
    {% endif %}
</div>

{% endblock %}