{% extends 'base.html' %}

{% block content %}
{% if form.errors %}

<div class="alert alert-warning alert-dismissable fade show" role="alert">
    Error with form
</div>
{% endif %}

<div class="shadow container bg-light form-group p-4 mt-5 mb-5" style="color:black">
    <div style="color:black; font-size:24px"> REGISTER </div>
    <br>
    <form action="{% url 'register_user' %}" method ="POST" >
        {% csrf_token %}
        {{ form.as_div }}
        <br>
        <br>
        <div class="form-group">
            <input type="submit" class="form-control btn btn-primary rounded submit px-3" style="background-color: #ab201c;">
        </div>
        <p class="text-center">Already a member? <a href="login_user">Sign In</a></p>
    </form> 
</div>

{% endblock %}

<!-- <div class="form-group mb-3">
                    <label class="label" for="name">Username</label>
                    <input type="text" class="form-control" placeholder="Username" required>
                </div>
                <div class="form-group mb-3">
                    <label class="label" for="password">Password</label>
                    <input type="password" class="form-control" placeholder="Password" required>
                </div>
                <div class="form-group mb-3">
                    <label class="label" for="email">Email</label>
                    <input type="email" class="form-control" placeholder="Email" required>
                </div>
                <div class="form-group mb-3">
                    <label class="label" for="phone">Phone Number</label>
                    <input type="tel" class="form-control" placeholder="Phone Number" required>
                </div>
                <div class="form-group mb-3">
                    <label class="label" for="password">Password</label>
                    <input type="password" class="form-control" placeholder="Password" required>
                </div>
                <div class="form-group mb-3">
                    <label class="label" for="repeat-password">Repeat Password</label>
                    <input type="password" class="form-control" placeholder="Repeat Password" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-primary rounded submit px-3" style="background-color: #ab201c;">Submit</button>
                </div>
            </form>
            <p class="text-center">Already a member? <a id= "loginBtn" href="#">Sign In</a></p>
        </div> -->