#modal-login{
    width: 80%;
    height: 90%;
    border-radius: 5px;
}   

label{
    color:black;
}

#picture-sidebar{
    padding: 35px;
    margin-left: 50px;
    margin-right: 20opx;
    border-radius: 15px;
}

#main-edit-container{
    background-color: white;
    padding: 40px;
    margin-left: 20px;
    border-radius: 15px;
    border-style: ridge;
}


/* top container starts */

.edit-profile{
    margin-bottom: 10px;
    padding: 15px;
    background-color: rgb(200, 0, 0);
}

/* top container ends */


#writer-editor .story-editor {
    min-height: 500px;
    padding-bottom: 500px;
    font-size: 18px;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 24px;
}
.medium-editor-element {
    word-wrap: break-word;
    min-height: 30px;
}
.medium-editor-placeholder {
    position: relative;
}

.required::after {
    content: ' *';
    color: red;
}

#main{
    font-size: .875em;
    line-height: 1.286;
    margin: auto;
    padding: 0.5em 2.5em 3.5em;
    position: relative;
    min-height: 450px;
}

